.el-select {
    width: 100%;
}
.el-upload__input {
    display: none !important;
}
.p-15 {
    padding: 15px 15px;
}
.p-b-10 {
    padding-bottom: 10px;
}

.m-t-45 {
    margin-top: 45px;
}
.el-form--label-top .el-form-item__label {
    padding: 0 0 0px !important;
}

.fp-dashboard {
    #main-content {
        .wrapper {
            padding: 15px 15px;
        }
    }   
}