<template>
    <div class="pf_products_add">
        <h3>Products Add</h3>
        <div class="pf_products_add_form">
            <el-row>
                <el-card shadow="hover">
                    <el-col :offset="5" :span="16">
                    
                        <el-form :model="productForm" ref="product_form" label-position="top">
                            <el-row>
                                <el-select v-model="selectedProductType" @change="selectProductTypes($event)">
                                    <el-option
                                        v-for="(item, key) in productTypes"
                                        :key="key"
                                        :label="item.product_type_name"
                                        :value="key"
                                    ></el-option>
                                </el-select>
                            </el-row>
                            <el-row>
                                <el-col :span="6">
                                    <el-form-item
                                        label="Product Photo"
                                    >
                                        <el-upload
                                            class="avatar-uploader"
                                            :action="imageUploadUrl"
                                            :show-file-list="false"
                                            :on-success="handleAvatarSuccess"
                                            :before-upload="beforeAvatarUpload">
                                            <img v-if="productForm.dynamic.avatar" :src="productForm.dynamic.avatar" class="avatar">
                                            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                                        </el-upload>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="12">
                                    <el-form-item
                                        label="Product Name"
                                    >
                                        <el-input v-model="productForm.product_name"></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col
                                    :span="12"
                                >
                                    <el-form-item
                                        label="Size & Prize"
                                    >
                                        <el-switch
                                            v-model="productForm.dynamic.size_type"
                                            active-text="Multiple"
                                            inactive-text="Single"
                                            active-value="multiple"
                                            inactive-value="single"
                                        >
                                        </el-switch>
                                    </el-form-item>
                                </el-col>

                            </el-row>

                            <el-row v-if="productForm.dynamic.size_type == 'single'">
                                <el-col
                                    :span="12"
                                >
                                    <el-form-item
                                        label="Prize"
                                    >
                                        <el-input v-model="productForm.dynamic.single_size_prize.prize"></el-input>
                                    </el-form-item>
                                </el-col>
                            </el-row>

                            <el-row v-else>
                                <div class="p-b-10" :key="key" v-for="(row, key) in productForm.dynamic.multiple_size_prize">
                                    <el-row>
                                        <el-col :span="7">
                                            <el-form-item
                                                label="Size"
                                            >
                                                <el-input v-model="row.size"></el-input>
                                            </el-form-item>
                                        </el-col>

                                        <el-col :offset="1" :span="6">
                                            <el-form-item
                                                label="Prize"
                                            >
                                                <el-input v-model="row.prize"></el-input>
                                            </el-form-item>
                                        </el-col>

                                        <el-col :offset="1" :span="6" class="m-t-45">
                                            <el-form-item>
                                                <el-button
                                                    size="mini"
                                                    icon="el-icon-plus"
                                                    @click="addNewMultipleSizePrizeRow"
                                                >

                                                </el-button>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                </div>
                            </el-row>

                            <el-row>
                                <div :key="key" v-for="(item, key) in selectedExtraField">
                                    
                                    <el-row v-if="item.field_type === 'input'">
                                        <el-col
                                            :span="12"
                                        >
                                            <el-form-item
                                            :label="item.label"
                                            >
                                                <el-input v-model="productForm.dynamic.extra_field[item.label]"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>

                                    <el-row v-if="item.field_type === 'select'">
                                        <el-col
                                            :span="12"
                                        >
                                            <el-form-item
                                            :label="item.label"
                                            >
                                                <el-select v-model="productForm.dynamic.extra_field[item.label]">
                                                    <el-option
                                                        v-for="(row, key) in item.options"
                                                        :key="key"
                                                        :label="row"
                                                        :value="row"
                                                    >
                                                    </el-option>
                                                </el-select>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>

                                </div>
                            </el-row>

                            <el-row class="p-b-10">
                                <el-button
                                    icon="el-icon-plus"
                                    type="primary"
                                    @click="addNewProduct('product_form')"
                                >
                                    Add New Product
                                </el-button>
                            </el-row>

                        </el-form>

                    </el-col>
                </el-card>
            </el-row>
        </div>
    </div>
</template>

<script>
    import { mapState, mapGetters, mapActions, mapMutations} from 'vuex';

    export default {
        name: 'pf_products_add',
        data(){
            return {
                imageUploadUrl: home.upload_image,
                selectedProductType: '',
                productForm: {
                    product_name: '',
                    dynamic: {
                        avatar: '',
                        size_type: 'single',
                        single_size_prize: {
                            size: '',
                            prize: ''
                        },
                        multiple_size_prize: [
                            {
                                key: 1,
                                size: '',
                                prize: ''
                            }
                        ],
                        extra_field: {}
                    }
                }
            }
        },
        computed: {
            ...mapGetters({
                productTypes: 'product/product_type/productTypes'
            }),
            selectedExtraField(){
                let c = this.selectedProductType.toString().length;
                if ( c ) {
                    return this.productTypes[this.selectedProductType].product_type_meta;
                }
                return [];
            }
        },
        methods: {
            ...mapActions({
                getProductTypes: 'product/product_type/getProductTypes',
                createNewProduct: 'product/products/createNewProduct'
            }),

            addNewProduct(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        this.productForm.product_type_id = this.productTypes[this.selectedProductType].id;
                        this.createNewProduct(this.productForm);
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },

            addNewMultipleSizePrizeRow(){
                this.productForm.dynamic.multiple_size_prize.push({
                    key: Date.now(),
                    size: '',
                    prize: ''
                });
            },

            handleAvatarSuccess(res, file) {
                this.productForm.dynamic.avatar = res.fileLink;
            },
            beforeAvatarUpload(file) {
                const isJPG = file.type === 'image/jpeg';
                const isLt2M = file.size / 1024 / 1024 < 2;

                if (!isJPG) {
                this.$message.error('Avatar picture must be JPG format!');
                }
                if (!isLt2M) {
                this.$message.error('Avatar picture size can not exceed 2MB!');
                }
                return isJPG && isLt2M;
            },

            selectProductTypes(e){
                console.log(e)
            }
        },
        mounted() {
            this.getProductTypes()
        }
    }
</script>

<style>
  .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
</style>
