<template>
    <div class="pf_products">
        <h3>Products</h3>
        <div class="pf_products_wrapper">
            <el-row>
                <router-link
                    :to="{
                        name: 'products_add'
                    }"
                >
                    <el-button type="primary" icon="el-icon-plus" class="pull-right"> Add New Product</el-button>
                </router-link>
            </el-row>
            <el-row class="p-15">
                <el-card>
                    <el-tabs tab-position="left" @tab-click="handleClick">
                        <el-tab-pane :label="item.product_type_name" :key="key" v-for="(item, key) in products">
                            <el-row :key="key" v-for="(product, key) in productItem">
                                <el-col :span="6" :key="keys" v-for="(p, keys) in product" :offset="keys > 0 ? 1: 0">
                                    <el-card shadow="hover">
                                        <img src="https://images.pexels.com/photos/247685/pexels-photo-247685.png?auto=compress&cs=tinysrgb&h=350" alt="">
                                        <h4>{{ p.product_name }}</h4>
                                    </el-card>
                                </el-col>
                                
                            </el-row>
                        </el-tab-pane>
                    </el-tabs>
                </el-card>
            </el-row>
        </div>
    </div>
</template>

<script>
    import { mapState, mapGetters, mapActions, mapMutations} from 'vuex';

    export default {
        name: 'pf_products',
        data: () => {
            return {
                active: 0
            }
        },
        computed: {
            ...mapGetters({
                products: 'product/products/products'
            }),

            productItem() {
                if ( this.products.length ) {
                    if( this.products[this.active].products.length ) {
                        return _.chunk(this.products[this.active].products, 3);
                    }
                }
                return []
            }
        },
        methods: {
            ...mapActions({
                getAllProducts: 'product/products/getAllProducts'
            }),
            handleClick(tab, event) {
                this.active = parseInt(tab.paneName)
                console.log(tab, event)
            }
        },
        mounted() {
            this.getAllProducts();
        } 
    }
</script>

