<template>
    <div class="pf_product_type_add">
        <h3>Add Product Types</h3>
        <div >
            <el-card shadow="hover">
                <el-col :span="12" :offset="4">
                    <el-row>
                        <el-form :rules="rules" label-position="top" ref="product_type" :model="productTypeForm" label-width="120px">
                            
                            <el-form-item 
                                label="Product Type Name"
                                prop="product_type_name"
                            >
                                <el-input v-model="productTypeForm.product_type_name"></el-input>
                            </el-form-item>

                            <el-row>
                                <el-col :span="12">
                                    <el-form-item label="Status">
                                        <el-switch
                                            v-model="productTypeForm.status"
                                            active-text="Active"
                                            inactive-text="Inactive"
                                            active-value="active"
                                            inactive-value="inactive"
                                        >
                                        </el-switch>
                                    </el-form-item>
                                </el-col>

                                <el-col :span="12">
                                    <el-form-item label="available">
                                        <el-switch
                                            v-model="productTypeForm.available"
                                            active-text="Yes"
                                            inactive-text="No"
                                            active-value="yes"
                                            inactive-value="no"
                                        >
                                        </el-switch>
                                    </el-form-item>
                                </el-col>
                            </el-row>

                            <el-row>
                                <el-form-item label="Extra Field">
                                    <el-row class="p-b-10" :key="item.key" v-for="(item, key) in productTypeForm.extra_field">
                                        <el-col :span="6">
                                            <el-select v-model="item.field_type" clearable>
                                                <el-option
                                                    v-for="item in fieldTypes"
                                                    :key="item"
                                                    :label="item"
                                                    :value="item"
                                                ></el-option>
                                            </el-select>
                                        </el-col>
                                        <el-col :offset="1" :span="5">
                                            <el-input v-model="item.label" placeholder="Label"></el-input>
                                        </el-col>
                                        <el-col :offset="1" :span="9">
                                            <el-tag
                                                :key="tag"
                                                v-for="tag in item.value"
                                                closable
                                                :disable-transitions="false"
                                                @close="handleClose(key, tag)">
                                                {{tag}}
                                            </el-tag>
                                            <el-input
                                                class="input-new-tag"
                                                v-if="item.inputVisible"
                                                v-model="item.inputValue"
                                                ref="saveTagInput"
                                                size="mini"
                                                @keyup.enter.native="handleInputConfirm(key)"
                                                >
                                            </el-input>
                                            <el-button v-else class="button-new-tag" size="small" @click="showInput(key)">+ Add Value</el-button>
                                        </el-col>
                                        <el-col :offset="1" :span="1">
                                            <el-button size="small" icon="el-icon-plus" @click="addNewExtraField"></el-button>
                                        </el-col>
                                    </el-row>
                                </el-form-item>
                            </el-row>

                            <el-row class="p-b-10">
                                <el-button
                                    type="primary"
                                    icon="el-icon-plus"
                                    @click="newProductTypeAdd('product_type')"
                                >
                                    Add New Product Type
                                </el-button>
                            </el-row>

                        </el-form>
                    </el-row>
                </el-col>
            </el-card>
        </div>
    </div>
</template>

<script>
    import { mapState, mapGetters, mapActions, mapMutations} from 'vuex'

    export default {
        name: 'pf_product_type_add',
        data: () => {
            return {
                rules: {
                    product_type_name: [
                        {
                            required: true, message: 'Please input Activity name', trigger: 'blur' 
                        }
                    ]
                },
                productTypeForm: {
                    status: 'active',
                    available: 'yes',
                    extra_field: [
                        {
                            key: 1,
                            field_type: '',
                            label: '',
                            value: [],
                            inputVisible: false,
                            inputValue: ''
                        }
                    ]
                }
            }
        },
        computed: {
            ...mapGetters({
                fieldTypes: 'product/product_type/fieldTypes'
            })
        },
        methods: {
            ...mapActions({
                createProductTypes: 'product/product_type/createProductTypes'
            }),
            newProductTypeAdd(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        this.createProductTypes(this.productTypeForm)
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
                
            },
            addNewExtraField() {
                this.productTypeForm.extra_field.push({
                    key: Date.now(),
                    field_type: '',
                    label: '',
                    value: [],
                    inputVisible: false,
                    inputValue: ''
                })
            },
             handleClose(key,tag) {
                this.productTypeForm.extra_field[key].value.splice(this.productTypeForm.extra_field[key].value.indexOf(tag), 1);
            },

            showInput(key) {
                this.productTypeForm.extra_field[key].inputVisible = true;
            },

            handleInputConfirm(key) {
                let inputValue = this.productTypeForm.extra_field[key].inputValue;
                if (inputValue) {
                    this.productTypeForm.extra_field[key].value.push(inputValue);
                }
                this.productTypeForm.extra_field[key].inputVisible = false;
                this.productTypeForm.extra_field[key].inputValue = '';
            }
        }
    }
</script>

<style>
  .el-tag + .el-tag {
    margin-left: 10px;
  }
  .button-new-tag {
    margin-left: 10px;
    height: 32px;
    line-height: 30px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .input-new-tag {
    width: 90px;
    margin-left: 10px;
    vertical-align: bottom;
  }
</style>

