<template>
    <div class="pf_product_type">
        <h3>Product Types</h3>
        <div class="pf_product_table">
            <el-row>
                <router-link :to="{ name: 'product_types_add' }">
                    <el-button icon="el-icon-plus" type="primary" class="pull-right" >Add New</el-button>
                </router-link>
            </el-row>
            <br>
            <el-row>
                <el-table
                    :data="productTypes"
                    style="width: 100%">
                    <el-table-column
                        prop="id"
                        label="#ID"
                    >
                    </el-table-column>
                    <el-table-column
                        prop="product_type_name"
                        label="Product Type"
                    >
                    </el-table-column>
                    <el-table-column
                        label="Action"
                    >
                    </el-table-column>
                </el-table>
            </el-row>
        </div>
    </div>
</template>

<script>

import { mapState, mapGetters, mapActions, mapMutations} from 'vuex'

export default {
    name: 'pf_product_type',
    data: () => {
        return {
            
        }
    },
    computed: {
        ...mapGetters({
            productTypes: 'product/product_type/productTypes'
        })
    },
    methods: {
        ...mapActions({
            getProductTypes: 'product/product_type/getProductTypes'
        })
    },
    mounted() {
        this.getProductTypes();
    }
}
</script>
