<template>
    <div class="fp-dashboard">
        <fp_sidebar></fp_sidebar>
        <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper site-min-height">
                <router-view></router-view>                
            </section>
        </section><!-- /MAIN CONTENT -->
    </div>
</template>

<script>

import fp_sidebar from './common/sidebar.vue';

export default {
    name: 'fp_dashboard',
    components: {
        fp_sidebar
    },
    data() {
        return {

        }
    }
}
</script>
